#outer {
	border: 2px solid gray;
	border-radius: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	background-color: black;
}
#inner {
	width: 98%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
a {
	display: block;
	text-decoration: none;
	color: white;
	font-family: verdana;
	font-size: 14px;
	cursor: default;
}
p {
	text-align: center;
	margin-bottom: 2px;
	margin-top: 2px;
}
body {
	background-color: darkgray;
}
#masto {
	visibility: hidden;
}
.over {
	background-color: gray;
}
