body {
	margin: 0;
}
#c {
	width: 100vw;
	height: 100vh;
	display: block;
}
.container {
	position: relative;
	overflow: none;
}
#overlay {
	position: absolute;
	left: 10px;
	top: 10px;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	font-family: monospace;
	padding: 1em;
	border-radius: 1em;
	border: 2px solid #f00;
	text-shadow: 0px 0px 5px white;
}
#sliders {
	position: absolute;
	right: 10px;
	top: 10px;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	font-family: monospace;
	padding: 1em;
	border-radius: 1em;
	border: 2px solid #f00;
	text-shadow: 0px 0px 5px white;
	/*width: 420px;*/
	width: 280px;
}
.sliderblock {
	float: left;
	width: 140px;
}
.col {
	float: left;
	width: 20px;
	padding-top: 3px;
}
input[type=range] {
	width: 100px;
	float: left;
	padding: 0px;
}

