body {
	margin: 0;
}
#c {
	width: 100vw;
	height: 100vh;
	display: block;
}
.container {
	position: relative;
}
#text {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 10;
	width: 100vw;
	height: 100vh;
}
